#about-service {
	padding-top: 70px;
	padding-bottom: 30px;
	background-color: @colorFFF;
	background-image:url('../img/blue_wave.png');
	background-repeat:no-repeat;
	background-position:center top;
	color: @text_black;
	p {
		text-align: center;
		font-size: 0.9em;
	}
	h2 {
		font-size: 1.5em;
	}
	 ul {
	    list-style: none;
	    padding:0;
	    margin:0;
		li { 
    		padding-left: 1em; 
    		text-indent: -.7em;
    		line-height: normal;
    		font-size: 0.9em;
		}
		li:before {
    		content: "◉ ";
    		color: #1ca8dd;
    	}
    }
    .saw {
    	position: relative;
    }
	.saw-img {
		position: absolute;
		right: 0;
		bottom: 0;
		padding-right: 20px;
	}
}