body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  h1 {
    margin-top: 0;
    font-size: 1.6em;
    font-weight: 300;
    color: @text_black;
  }
  h1, h2, h3, h4 {
    font-family: 'Work Sans', sans-serif;
  }
  p, li, h2, h3, h4, span {
    font-weight: 300;
  }
  b {
    font-weight: 400;
  }
  label {
    font-weight: 400;
  }
  hr {
    border-top: 1px solid #e5e5e5;
  }
  legend {
    font-size: 1.1em;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  th, td {
    font-weight: 300;
  }
}

#interior {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: @colorBG;
  color: @text_black;
}

.margin-bottom {
  margin-bottom: 20px;
}

.form-control {
  background: @colorFFF;
  border: 1px solid #e0e0e0;
  color: #616161;
  padding: 5px 8px;
  box-shadow: none !important;
  width: 100%;
  height: 32px;
  border-radius: 2px;
}

.form-control:focus {
  border: 1px solid #03a9f4;
  background: @colorFFF;
  box-shadow: none;
}

.title{
  margin-top: 0;
  font-size: 1.6em;
  font-weight: 300;
  color: #5f6c73;
}

.btn {
  margin: 5px 5px 0px 0px;
}

.dp{
  border:10px solid #eee;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
}

.dp:hover {
  border:2px solid #eee;
  transform:rotate(360deg);
  -ms-transform:rotate(360deg);  
  -webkit-transform:rotate(360deg);
}

.divider {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.divider hr {
  margin: 7px 0px;
}

.left { float: left; }
.right { float: right; }
.center { text-align: center; }

.color-blue { color: #007aff; }
.color-green { color: #00d60f; }

.container-internal {
  padding: 0 auto;
  margin: 0 auto;
}

/* Mobile and Tablet */
@media (max-width: 992px) {
  body {
    background-image: none;
  }
  .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .container-internal {
    width: 95%;
  }
  .divider hr {
    width: 25%;
  }
}

/* laptop */
@media (min-width: 993px) {
  body {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .container {
    max-width: 1200px; 
    padding: 0 auto;
    margin: 0 auto;
  }
  .container-internal {
    width: 80%;
  }
  .divider hr {
    width: 40%;
  }
}
