#footer {
	padding-top: 30px;
	padding-bottom: 35px;
	background-color: @colorBG;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    p {
    	margin: 0;
    	font-size: 0.8em;
    }
    a {
    	color: #00b89a;
    }
}

@media (max-width: 992px) {
	#footer {
		border-bottom-left-radius: 0;
	    border-bottom-right-radius: 0;
	}
}