#footer-menu {
	text-align: center;
	color: @colorFFF;
	padding-top: 70px;
	padding-bottom: 30px;
	background-color: #27383e;
	background-image:url('../img/blue_wave.png');
	background-repeat:no-repeat;
	background-position:center top;
	.container-internal {
		h4 {
			color: #29bd81;
		}
		ul {
			padding: 0; 
			text-decoration: none;
    		list-style: none;
	        li {
	        	a {
	        		font-size: 0.8em;
	            	text-decoration: none;
	            	color: #d4f3ff;
	        	}
	    	}
		}
	}
	.divider {
		height: 1px;
		margin: 9px 0;
	}
}

@media (max-width: 992px) {
  
}