#friends {
	padding-top: 70px;
	padding-bottom: 30px;
	background-color: @colorFFF;
	background-image:url('../img/blue_wave.png');
	background-repeat:no-repeat;
	background-position:center top;
	color: @text_black;
}

.carousel-inner {
	overflow-y: hidden;
}
.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev    { left: -25%; }
.carousel-control        { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
.carousel-inner .item-item {
	text-align: -webkit-center;
	padding:0!important;
}

.carousel-control {
	.glyphicon-chevron-left {
		font-size: 15px;
	}
	.glyphicon-chevron-right {
		font-size: 15px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
    #myCarousel .carousel-inner .item .item-item:last-child {
        display: none;
    }
}

@media (max-width: 768px) {
    #mymyCarousel .carousel-inner {
    	height: 100px;
	}
}