#info {
	padding-top: 70px;
	padding-bottom: 30px;
	background-color: @colorBG;
	background-image:url('../img/white_wave.png');
	background-repeat:no-repeat;
	background-position:center top;
	text-align: center;
	color: @text_black;
	span {
		color: #f8c300;
		font-size: 1.9em;
	}
	p {
		font-size: 0.9em;
		color: @text_black;
	}
	img {
		text-align: center;
		margin: auto;
	}
}