/* background-video */
.background-video {
  background-color: @colorBG;
  padding: 0;
  position: relative;
  video {
    width: 100%;
  }
  .background {
    background: rgba(0,128,0,0.5);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 99%;
    z-index: 0;
  }
}

.background-video-text {
  position: absolute;
  top: 50%;
  width: 100%;
  right: 0;
  left: 0; 
  color: #ffffff;
  transform: translate(0%, -50%);
  text-align: center;
  font-size: 3em;
}

.panel {
  margin: 0;
  background-color: none;
  border: none;
  border-radius: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-bottom: 20px;
}

/* */

.dropdown-menu {
  min-width: 600px;
  padding: 15px 0px 15px 0px;
  font-size: 1em;
  li {
    ul {
      text-decoration: none;
      list-style: none;
      padding: 0;
      li {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

.arrow
{
  width: 0;
  height: 0;
  margin-left: 23px;
  margin-top: -24px;
  margin-bottom: 10px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid @colorFFF;
}

.arrow-user
{
  width: 0;
  height: 0;
  margin-left: 540px;
  margin-top: -24px;
  margin-bottom: 10px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid @colorFFF;
}

.dropdown-header {
  text-transform: uppercase;
  font-size: 0.8em;
}

.dropdown {
  margin-right: 10px !important;
}

.navbar-default {
  background-color: @nav_bg;
  .navbar-toggle {
    padding: 0;
    float: none;
  }
  .navbar-nav {
    li {
      color: #0dbae8;
      line-height: 1.715;
      .dropdown-menu {
        margin-top: 25px;
        font-size: 1.2em;
      }
      .columns-menu {
        list-style: none;
        padding: 0;
        li {
          padding: 0 15px 0 15px;
          a {
            background-color: @colorFFF;
          }
        }
      }
      ul {
        li {
          a {
            display: block;
            text-decoration: none;
            &:hover {
              background: @colorFFF !important;
              color: #0dbae8 !important;
            }
          }
        }
      }
    }
    .open {
      a {
        background-color: @nav_bg;
        &:hover {
          background-color: @nav_bg;
        }
        &:focus {
          background-color: @nav_bg;
          color: #0dbae8;
        }
      }
    }
  }
}


.navbar {
  border-radius: 0px;
  border-bottom: 2px solid #e7e7e7 !important;
}

a.menuBtn{
  background-color: @nav_bg;
  display: none;
}
.main-nav {
  display: inline-block;
  float: left;
  padding-top: -20px;
  li {
    display: inline-block;
    margin-top: 20px;
    padding: 0px 15px;
    &:last-child{
      background-color: @text_blue;
      padding: 10px 14px;
      border-radius: 3px;
      a{
        color: #fff;
      }
    }
  }
}

.menuBtn{
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 101;
}
.lines {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #00b89a;
  border-radius: 3px; 
  transition: all 200ms;
  left: 0px;
}
.menuBtn >span:after,
.menuBtn > span:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #00b89a;
  border-radius: 3px;
  transition: all 200ms;
}
.menuBtn > span:after{
  top: -7px;
}
.menuBtn > span:before{
  bottom: -7px;
}
.menuBtn.act > span{
  height: 0;
}

.menuBtn.act > span:before,
.menuBtn.act > span:after{
  top: 1px;
}
.menuBtn.act > span:before{
  transform: rotate(-45deg);
}
.menuBtn.act > span:after{
  transform: rotate(45deg);
}

/* Mobile and Tablet */
@media (max-width: 992px) {
  .background-video-text {
    font-size: 1.3em;
  }
  a.menuBtn{ 
    display: inline-block; 
    float: left; 
    padding: 15px;
   
  }
  .main-nav {
    display: none;
    width: 60%;

    &.active {
      display: block;
    }
    li {
      padding-bottom: 4px;
      text-align: center;
      display: block;
      border-bottom: 1px solid lighten(#fa444d, 10%);
     
    }
  }

  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
    margin-left: 15px;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    &.collapse {
      display: none !important;
    }
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
    li {
      float: none;
      a {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .collapsing {
    overflow: hidden !important;
  }
  .navbar {
    background: @nav_bg;
    border: none;
    margin-bottom:0;
    .container_nav{
      width: 100%;
    }
    &-header {
      height: @mobile_nav_height;
      .navbar-toggle {
        right: 0;
        border: none;
        background: transparent !important;
        margin-top: 18px;
        &:hover {
          background: transparent !important;
        }
        .icon-bar {
          width: 22px;
          transition: all 0.2s;
        }
        .top-bar {
          transform: rotate(45deg);
          transform-origin: 10% 10%;
        }
        .middle-bar {
          opacity: 0;
        }
        .bottom-bar {
          transform: rotate(-45deg);
          transform-origin: 10% 90%;
        }
        &.collapsed {
          .top-bar {
            transform: rotate(0);
          }
          .middle-bar {
            opacity: 1;
          }
          .bottom-bar {
            transform: rotate(0);
          }
        }
      }
    }
    &-brand {
      padding: 12px 0 0;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: @logo_width_sm / -2 !important; /* 50% of your logo width */
      display: block;
      z-index: 9999;
      img {
        width: @logo_width_sm;
      }
    }
    &-nav {
      li {
        a {
          color: #9aa2aa !important;
          &:hover {
            background: @nav_bg !important;
            color: #0dbae8 !important;
          }
        }
      }
    }
  }
}

/* laptop and Desktop */
@media (min-width: 993px) {
  .navbar {
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0;
    &-header {}
    &-brand {
      padding: 10px 0 0;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: @logo_width_md / -2 !important; /* 50% of your logo width */
      display: block;
      z-index: 9999;
      img {
        width: @logo_width_md;
      }
    }
    &-nav {
      li {
        a {
          color: #9aa2aa !important;
          font-size: 1em;
        }
      }
    }
  }
}
