#products {
  padding-top: 30px;
  padding-bottom: 30px;
	background-color: @colorBG;
	color: @text_black;
  .products-reviews-img {
    position: absolute;
    top: 10px;
    left: -18px;
    width: 200px;
    .products-img-thumbnail {
      border-radius: 6%;
      padding: 4px;
      background-color: @colorFFF;
      border: 1px solid #ddd;
      max-width: 100%;
      height: auto;
    }
  }
  .products-media-body {
    margin-left: 180px;
    h4 {
      margin-top: 10px;
      font-size: 1.1em;
      color: #337ab7;
    }
    p {
      font-size: 0.9em;
      margin: 0 0 2px;
    }
    .divider {
      height: 1px;
      margin: 10px 0;
      background-color: #e5e5e5;
    }
  }
  .products-well {
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-bottom: 0;
    border-radius: 4px;
    background-color: @colorFFF;
    min-height: 160px;
    margin-top: 20px;
    span {
      font-size: 0.7em;
      margin-top: 12px;
    }
  }
}

.background-cover {
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
  position: relative;
}

.cover-1 { background-image: url("../img/cover/cover-1.png"); }
.cover-2 { background-image: url("../img/cover/cover-2.png"); }
.cover-3 { background-image: url("../img/cover/cover-3.png"); }
.cover-4 { background-image: url("../img/cover/cover-4.png"); }
.cover-5 { background-image: url("../img/cover/cover-5.png"); }
.cover-6 { background-image: url("../img/cover/cover-6.png"); }
.cover-7 { background-image: url("../img/cover/cover-7.png"); }
.cover-8 { background-image: url("../img/cover/cover-8.png"); }

.background-color {
  background: rgba(0, 128, 0, 0.5);
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.background-cover-text {
  position: absolute;
  top: 50%;
  width: 100%;
  right: 0;
  left: 0; 
  color: #eff2f3;
  transform: translate(0%, -50%);
  text-align: center;
  font-size: 2em;
  p {
    margin: 0;
  }
}

@media (max-width: 992px) {
  #products {
    .products-reviews-img {
      position: absolute;
      top: -10px;
      left: 10px;
      width: 100px;
    }
    .products-media-body {
      margin-left: 0;
      margin-top: 55px;
    }
    .products-well {
      span {
        display: none;
      }
    }
  }
  .background-cover {
    height: 80px;
  }

  .background-cover-text {
    font-size: 1.4em;
  }
}