#three-columns {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: @colorBG;
  color: @text_black;
  .three-reviews-img {
    .three-img-thumbnail {
      border-radius: 3%;
      padding: 4px;
      background-color: @colorFFF;
      border: 1px solid #ddd;
      max-width: 100%;
      height: auto;
    }
  }
  .three-media-body {
    margin-top: 0;
    h4 {
      margin-top: 10px;
      font-size: 1.1em;
      color: #337ab7;
    }
    p {
      font-size: 0.9em;
      margin: 0 0 2px;
    }
    .divider {
      height: 1px;
      margin: 10px 0;
      background-color: #e5e5e5;
    }
  }
  .three-well {
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-bottom: 0;
    border-radius: 4px;
    background-color: @colorFFF;
    min-height: 290px;
    position: relative;
    .ribbon {
      position: absolute;
      left: -5px; 
      top: -5px;
      z-index: 1;
      overflow: hidden;
      width: 130px; 
      height: 130px;
      text-align: right;
    }
    .ribbon span {
      font-size: 10px;
      font-weight: bold;
      color: #FFF;
      text-transform: uppercase;
      text-align: center;
      line-height: 20px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      width: 145px;
      display: block;
      background: #79A70A;
      background: linear-gradient(#9BC90D 0%, #79A70A 100%);
      box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
      position: absolute;
      top: 35px; 
      left: -27px;
    }
    .ribbon span::before {
      content: "";
      position: absolute; left: 0px; top: 100%;
      z-index: -1;
      border-left: 3px solid #79A70A;
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-top: 3px solid #79A70A;
    }
    .ribbon span::after {
      content: "";
      position: absolute; right: 0px; top: 100%;
      z-index: -1;
      border-left: 3px solid transparent;
      border-right: 3px solid #79A70A;
      border-bottom: 3px solid transparent;
      border-top: 3px solid #79A70A;
    }
  }
}

@media (max-width: 992px) {
  #three-columns {
    .three-reviews-img {
      text-align: center;
    }
    .three-well {
      min-height: 250px;
      margin-top: 10px;
    }
  }
}