// general variables
@nav_bg: #eef2f3;
@logo_width_sm: 120px;
@logo_width_md: 150px;
@mobile_nav_height: 50px;

@link_padding_md_left: 40px 0 40px 50px;
@link_padding_md_right: 1px 1px 1px 1px;
@link_padding_lg_left: 40px 0 40px 90px;
@link_padding_lg_right: 40px 90px 40px 0;

// text colors;
@text_black: #5f6c73;
@text_hover: #BC7A84;
@text_blue: #2EB7FC;
@colorFFF: #ffffff; //balta
@color000: #000000;
@colorBG: #eff2f3;

// MEDIA
@screen-media-phone: 480px;
@screen-media-table: 767px;